<header id="header-contact">
  <h2>Contact</h2>
</header>

<div class="container" id="container-contact">
  <p>Do you have any questions? Would you like to ask about the certain bike model or its availability? No problem, just drop us a line and we will get back to you as soon as possible. If you prefet face to face contact, come and visit us at Alexanderplatz 34 in Berlin.</p>

  <div class="row" id="contact">
    <div class="col-xs-12 col-md-7">
      <h3> Ask us anything:</h3>
    <%= flash[:notice] %>

    <%= form_with(url:"/simple_pages/thank_you", method: "post", local: true) do |form| %>
    <div class="row">
      <div class="field form-group-contact">
        <%= form.label :name, class: "control-label" %>
        <%= form.text_field :name, class: "form-control", placeholder: "Enter Name" %>
      </div>
      <div class="field form-group-contact">
        <%= form.label :email, class: "control-label" %>
        <%= form.text_field :email, class: "form-control", placeholder: "Enter Email" %>
      </div>
      <div class="field form-group-contact">
        <%= form.label :message, class: "control-label" %>
        <%= form.text_area :message, class: "form-control", placeholder: "Enter Message", rows: 5 %>
      </div>
    <div class="actions form-group-contact">
    <%= form.submit "Send", class: "btn btn-outline-success my-2 my-sm-0" %>
  </div>
</div>
    <% end %>
    </div>
    <div class="col-xs-12 col-md-5">
      <%= image_tag 'contact_image.jpg', class: "img-fluid", id: "contact_image", alt: 'bike' %>
    </div>
  </div>
</div>
