<header id="header-newpassword">
<h2>Forgot your password?</h2>
</header>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field form-group-new-password">
    <%= f.label :email, class: "control-label" %>
    <%= f.email_field :email, class: "form-control", placeholder: "Enter email", autofocus: true, autocomplete: "email" %>
  </div>

  <div class="actions form-group-new-password">
    <%= f.submit "Send me new password", class: "btn btn-outline-success my-2 my-sm-0" %>
    <br><br>
    <%= render "devise/shared/links" %>
  </div>
<% end %>
