  <div class="col-sm-4">
    <%= image_tag(product.image_url, class: "img-fluid product-img") %> <br> <br>
    <h3><%= link_to product.name, product %></h3> <br>
    <p><%= product.description %></p>
    <p>Color: <%= product.colour %></p>
      <div class="rated product-average-rating" data-score="<%= product.average_rating %>"></div>
    <p><strong>Price: <%= product.price %>€</strong> <br><br>


    <%= link_to 'Show', product %>
    <%= link_to 'Edit', edit_product_path(product) %>
    <%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %> <br><br>
    </p>
  </div><!-- /col -->
